.example-spacer {
    flex: 1 1 auto;
}

.header-bar {
  background-color: lightseagreen;
  height: auto;
  position: fixed;
  z-index: 2;
  top: 0;
}

button{
  background-color: inherit;
  border:none;
  top: 8px;
  right:16px;
  position: absolute;
  font-size: 2em;
  color :white;
}

button:focus{
  outline: 0;
  color: lightgrey;
}
