<div class="profile-container">
    <div class="left-component">
        <div class="component-item">
            <mat-card>
                <div>
                    <h3>Your tweets</h3>
                    <table *ngIf="latestPosts">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Message</th>
                                <th>Message sent</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of latestPosts; let i = index">
                                <td>{{post.id}}</td>
                                <td>{{post.message}}</td>
                                <td>{{post.messageSent}}</td>
                                <td>{{post.owner.username}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div class="component-item">
            <app-following></app-following>
        </div>
    </div>
    <div class="right-component">
        <div class="component-item">
            <mat-card>
                <h3>Details</h3>
                <mat-list>
                    <mat-list-item><b>Username:</b>&nbsp;{{user.username}}</mat-list-item>    
                    <mat-divider></mat-divider>
                    <mat-list-item><b>Name:</b>&nbsp;{{user.name}}</mat-list-item>    
                    <mat-divider></mat-divider>
                    <mat-list-item><b>Location:</b>&nbsp;{{user.location}}</mat-list-item>    
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card>
        </div>
        <div class="component-item" *ngIf="!personalPage">
            <mat-card>
                <button mat-raised-button color="primary" mat-button (click)="followUser(user.id)">Follow</button>
            </mat-card>
        </div>
    </div>
</div>

