@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 2em 23em;
    background: lightgray;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-card {
  overflow: auto;
  max-width: 500px;
}

.left-component {
    margin-right: 1rem;
}

.right-component {
    margin-left: 1rem;
}

.profile-container{
    display: flex;
    justify-content: center;
}