@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.textbox-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-card {
  overflow: auto;
  max-width: 500px;
}

.left-component {
    margin-right: 1rem;
    margin-top: 1rem;
}

.right-component {
    margin-left: 1rem;
    margin-top: 1rem;
}

.home-container{
    display: flex;
    justify-content: center;
}

.component-item {
  margin-bottom: 20px;
}