<div class="home-container">
    <div class="left-component">
        <div class="component-item">
            <mat-card>
                <h3>Timeline</h3>
                <table *ngIf="timeline">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Message</th>
                            <th>Message sent</th>
                            <th>Owner</th>
                            <th>Like</th>
                            <th>Unlike</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of timeline; let i = index">
                            <td>{{post.id}}</td>
                            <td>{{post.message}}</td>
                            <td>{{post.messageSent}}</td>
                            <td>{{post.owner.username}}</td>
                            <td><button mat-raised-button color="primary" mat-button (click)="likePost(post.id, post.owner.id)">Like</button></td>
                            <td><button mat-raised-button color="primary" mat-button (click)="unlikePost(post.id, post.owner.id)">Unlike</button></td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
        <div class="component-item">
            <app-following></app-following>
        </div>
        <div class="component-item">
             <mat-card>
                <h3>Create post</h3>
                <mat-form-field>
                    <input matInput [(ngModel)]="content">
                </mat-form-field>
                <button mat-raised-button color="primary" mat-button (click)="createPost()">Create</button>
            </mat-card>
        </div>
    </div>
    <div class="right-component">
        <div class="component-item">
            <mat-card>
                <h3>What's happening?</h3>
                <mat-form-field>
                    <input matInput [(ngModel)]="tag">
                </mat-form-field>
                <button mat-raised-button color="primary" mat-button (click)="searchPost()">Search</button>
            </mat-card>
        </div>
        <div class="component-item">
            <mat-card *ngIf="foundPosts">
                <h3>Search results</h3>
                <table *ngIf="foundPosts">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Message</th>
                            <th>Message sent</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of foundPosts; let i = index">
                            <td>{{post.id}}</td>
                            <td>{{post.message}}</td>
                            <td>{{post.messageSent}}</td>
                            <td>{{post.owner.username}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>
<br><br>
